<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>カテゴリー</h1>

      <%= form_with model:@category, url:'/admin/categories', local:true do |f| %>

        <div class="row form-group">
          <%= f.label :カテゴリー, class: "" %>
          <%= f.text_field :name %>
          <%= f.submit 'カテゴリー追加', class: "btn btn-success offset-1" %>
        </div>
      <% end %>
      <div class="col-6 mt-5">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>ジャンル</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td></td>
                <td></td>
                <td><%= link_to "編集する", edit_admin_category_path(category.id), class: 'btn btn-success' %></td>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>